.env
.bundle
spec/log/*.log
log/*.log
tmp/**/*
tmp/*
.idea
*~
*.swp
.\#*
\#*\#
.rvmrc
.project
coverage
coverage.data
converage/**/*
.DS_Store
bundler
.elasticbeanstalk/
config/application.yml
custom_plan.rb
zeus.json
*.local
dump.rdb
.envrc
.zeus.sock
*.zip
