packages:
  yum:
    perl-Switch: []
    perl-Sys-Syslog: []
    perl-LWP-Protocol-https: []
    ruby-devel: []
    gcc: []
    snappy-devel: []
  rubygems:
    io-console: '0.4.2'
    god: '0.13.6'
    remote_syslog: '1.6.15'
files:
  "/etc/security/limits.d/90-nproc.conf":
    content: |
      *          soft    nproc     4096
      *          hard    nproc     4096
  "/etc/security/limits.d/90-nofile.conf":
    content: |
      *          soft    nofile    65535
      *          hard    nofile    65535
  "/opt/elasticbeanstalk/support/conf/pumaconf.rb":
    mode: "000777"
    owner: webapp
    group: webapp
    source: https://johnio-ops.s3.amazonaws.com/elastic-beanstalk/containerfiles/configuration/pumaconf.rb
  "/home/ec2-user/.ssh/authorized_keys":
    mode: "000600"
    owner: ec2-user
    group: ec2-user
    source: https://johnio-ops.s3.amazonaws.com/elastic-beanstalk/authorized_keys
  "/opt/elasticbeanstalk/hooks/configdeploy/enact/10_god_load_and_restart":
    mode: "000777"
    owner: webapp
    group: webapp
    source: https://johnio-ops.s3.amazonaws.com/elastic-beanstalk/hooks/10_god_load_and_restart
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/10_god_stop_signal":
    mode: "000777"
    owner: webapp
    group: webapp
    source: https://johnio-ops.s3.amazonaws.com/elastic-beanstalk/hooks/10_god_restart_pre_appdeploy
  "/opt/elasticbeanstalk/hooks/appdeploy/post/10_god_restart":
    mode: "000777"
    owner: webapp
    group: webapp
    source: https://johnio-ops.s3.amazonaws.com/elastic-beanstalk/hooks/10_god_restart_post_appdeploy
commands:
  "containerfiles webapp permission":
    command: chown -R webapp:webapp /var/app/containerfiles
    ignoreErrors: true
  "root path":
    command: sed -E -i.bak 's,PATH=\$PATH:\$HOME/bin,PATH=\$PATH:/usr/local/bin:\$HOME/bin,g' /root/.bash_profile
    ignoreErrors: true
  "staging log symlink":
    command: ln -s /var/app/current/log/staging.log /var/app/containerfiles/logs/staging.log; chown -h webapp:webapp /var/app/support/logs/staging.log
    ignoreErrors: true
